[Unit]
Description=elasticsearch
After=network.target
User=elasticsearch
Group=elasticsearch
RootDirectory=/var/lib/elasticsearch

[Service]
Type=simple
Restart=always
ExecStart=/usr/share/elasticsearch/bin/elasticsearch -E discovery.type=single-node -E path.data /var/lib/elasticsearch/data -E network.host=

[Install]
WantedBy=multi-user.target
