[Unit]
Description=elasticsearch
After=network.target
User=elasticsearch
Group=elasticsearch
RootDirectory=/var/lib/elasticsearch

[Service]
EnvironmentFile=/etc/environment
Type=simple
Restart=always
ExecStart=/usr/share/elasticsearch/bin/elasticsearch

[Install]
WantedBy=multi-user.target
